*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;;
}

/* Body Start */
body {
    background-color: #f4f4f4;
}
  /* Body End */

/* navbar start */
nav {
    background: #906E3E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width:100%;
    height: 60px;
    animation: fadeInRight 1s ease;
}
nav span img{
    width:100px;
    cursor: pointer;
    padding-top: 15px;
}
ul{
    list-style: none;
}
ul li{
   display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 16px;
}

nav a:hover {
    background-color: #b08a56;
    transition: 0.5s;
    border-radius: 50%;
      }
  /* navbar End */

  /* Registration form start */

.registration-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  text-align: center;
  margin: 120px auto;
  animation: fadeInUp 1s ease;


}

.form-group {
  margin: 50px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #906E3E;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6d5534;
}

/* Registration form end  */

  /* Footer start */
  footer{
    margin-top: 100px;
    background-color: #906E3E;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    height: auto;
  }
  #footer-contact{
    line-height: 35px;
  }

  .footer-column {
    flex: 1 0 25%;
    margin-bottom: 20px;
  }

  .footer-column h3 {
    margin-bottom: 10px;
    padding-left: 75px;
  }

  .footer-column p {
    margin: 0;
  }

  .logo {
    width: 150px;
    height: 100px;
  }
  /* Social Media start */
  .social-media {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap:10px;
    padding-right: 170px;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
    
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  /* Youtube */
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  /* Social Media End */
  .footer-text {
    text-align: center;
    padding: 20px;
  }

  .contact-info {
    text-align: center;
    padding: 20px;
    /* color: #fff; */
  }

  .contact-info p {
    margin: 0;
  }
  /* Footer End */

  /* CSS Animation */

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
/* Media Query to create responsive designs */
@media screen and (max-width: 768px) {
  ul {
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #f4f4f4;
      width: 100%;
      text-align: center;
      display: none;
  }

  ul {
      display: flex;
  }

  ul li {
      margin: 0;
      margin-bottom: 10px;
  }

  ul li a{
    color: #906E3E;
    line-height: 2rem;
  }

  nav span img {
      padding-top: 0;
  }

  nav {
      flex-direction: column;
      align-items: flex-start;
  }

  footer{
    flex-direction:column;
    text-align: flex-start;
  }
  .footer-column {
margin-left: 50px;  }

.social-media{
  margin-left: 30px;
}

#footer-contact{
  margin-right: 90px;

}
#info{
  margin-right: 100px;

}
}