*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
/* Body/background start */
body{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../Pics/Menue\ bG.avif);
    background-size: cover;   
}
/* Body/background End */

/* navbar start */
nav{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* position: fixed; */
    width:100%;
    height: 60px;
    animation: fadeInRight 1s ease;
}
nav span img{
    width:100px;
    cursor: pointer;
    padding-top: 15px;
}
ul{
    list-style: none;
}
ul li{
   display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

nav a:hover {
    /* background-color: #906E3E; */
    background-color: #333;
    transition: 0.5s;
    border-radius: 50%;
  }
  /* navbar End */

  /* Header Start */
  header {
    color: #fff;
    text-align: center;
    /* padding: 1em; */
  }
  /* Header End  */

  /* Section Start */
  section {
    max-width: 800px;
    margin: 20px auto;
    background-color: #333;
    border-radius: 8px;
    color: white;
  }

  .menu-section {
    padding: 20px;
  }

  .menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .menu-item img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
    border-radius: 8px;
  }

  h1{
    text-align: center;
  }
  
  .menu-item h2 {
    margin-bottom: 5px;
  }

  .menu-item p {
    margin: 0;
  }
  /* Section End */

 /* Footer start */
 footer{
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
  }
  #footer-contact{
    line-height: 35px;
  }

  .footer-column {
    flex: 1 0 25%;
    margin-bottom: 20px;
  }

  .footer-column h3 {
    margin-bottom: 10px;
    padding-left: 75px;
  }

  .footer-column p {
    margin: 0;
  }

  .logo {
    width: 150px;
    height: 100px;
  }
  /* Social Media start */
  .social-media {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap:10px;
    padding-right: 170px;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
    
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  /* Youtube */
  .fa-youtube {
    background: #bb0000;
    color: white;
  }

    /* Google */
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  /* Social Media End */
  .footer-text {
    text-align: center;
    padding: 20px;
  }

  .contact-info {
    text-align: center;
    padding: 20px;
    /* color: #fff; */
  }

  .contact-info p {
    margin: 0;
  }
  /* Footer End */

  /* CSS Animation */
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Media Query to create responsive designs */
@media screen and (max-width: 768px) {
  ul {
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #f4f4f4;
      width: 100%;
      text-align: center;
      display: none;
  }

  ul {
      display: flex;
  }

  ul li {
      margin: 0;
      margin-bottom: 10px;
  }

  ul li a{
    color: #906E3E;
    line-height: 2rem;
  }

  nav span img {
      padding-top: 0;
  }

  nav {
      flex-direction: column;
      align-items: flex-start;
  }

  footer{
    flex-direction:column;
    text-align: flex-start;
  }
  .footer-column {
margin-left: 50px;  }

.social-media{
  margin-left: 30px;
}

#footer-contact{
  margin-right: 90px;

}
#info{
  margin-right: 100px;

}
}